#########################
# Ignore specific files #
#########################
.DS_Store

#########################
# Compiled class file   #
#########################
*.class

#########################
# Directories           #
#########################
workshop/workshop\ content/


#########################
# Packages              #
#########################
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

#########################
# Logs and databases    #
#########################
*.log
